/.devcontainer/
/.devscripts/
/.git/
/.github/
/.vscode/
/data/
/output/
/misc/
/temp/
/workspace/

# envrc and env
/.env
/.env.*
/.envrc
/!.example

# VSCode dev container config
/.devcontainer

# Compose files
/docker-compose*override.yml
/docker-compose.override.yml
!/docker-compose.*.example.yml
